<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">
    
    <xi:include href="${relative('web.extras.quickstart.templates.master')}" />
    
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />
        
        <title>Welcome</title>
    </head>
    
    <body class="step-overview sstep-welcome">
        <h2>Welcome to the Quick–Start</h2>
        
        <blockquote class="pull">
            <div class="shadow">&nbsp;</div>
            
            There are several conventions used throughout the documentation presented here.
            
            <dl>
                <dt><tt>Highlighted Fixed Width</tt></dt>
                <dd>The name of a variable or object, section of code, link, or button.</dd>
            </dl>
        </blockquote>
        
        <p>This web application will help step you through the process of creating a web application of your own.  Along the top of the pages presented here is a menu of options.  It's suggested that you progress through these options in order as later settings may depend on earlier ones.  Feel free to go back and add additional detail if you need to, though.</p>
        
        <p>If at any point you require assistance feel free to drop by the support chat room.  You can find us on <a href="irc://irc.freenode.net/#webcore">irc.freenode.net</a> in the <tt>#webcore</tt> channel.  We're here to help.</p>
        
        <p>Use the <tt>Project Meta–Data</tt> menu item to get started.</p>
        
        <br style="clear: both;" />
    </body>
</html>